In [6]:
import numpy as np
import pandas as pd
import math
import torch
import os

In [7]:
# Get the directory of the current script
script_directory = os.path.dirname(os.path.abspath('/Users/oscar/Library/CloudStorage/OneDrive-Personal/Documents/PERSONAL/Finance/Competition/IMC Prosperity/IMC_Prosperity_Huskies/Round 2/train_LSTM.ipynb'))

# Change the current working directory
os.chdir(script_directory)

print("Current Working Directory is changed to:", os.getcwd())

Current Working Directory is changed to: /Users/oscar/Library/CloudStorage/OneDrive-Personal/Documents/PERSONAL/Finance/Competition/IMC Prosperity/IMC_Prosperity_Huskies/Round 2

In [12]:
data_day_minus1 = pd.read_csv('/Users/oscar/Library/CloudStorage/OneDrive-Personal/Documents/PERSONAL/Finance/Competition/IMC Prosperity/IMC_Prosperity_Huskies/Round 2/round-2-island-data-bottle/prices_round_2_day_-1.csv', sep=';')
data_day_0 = pd.read_csv('/Users/oscar/Library/CloudStorage/OneDrive-Personal/Documents/PERSONAL/Finance/Competition/IMC Prosperity/IMC_Prosperity_Huskies/Round 2/round-2-island-data-bottle/prices_round_2_day_0.csv', sep=';')
data_day_plus1 = pd.read_csv('/Users/oscar/Library/CloudStorage/OneDrive-Personal/Documents/PERSONAL/Finance/Competition/IMC Prosperity/IMC_Prosperity_Huskies/Round 2/round-2-island-data-bottle/prices_round_2_day_1.csv', sep=';')

In [14]:
data_day_minus1

,timestamp,ORCHIDS,TRANSPORT_FEES,EXPORT_TARIFF,IMPORT_TARIFF,SUNLIGHT,HUMIDITY,DAY
0,0,1200.00,1.5,10.5,-2.0,2500.0000,79.000000,-1
1,100,1201.75,1.5,9.5,-2.0,2499.4197,79.004100,-1
2,200,1201.75,1.5,9.5,-2.0,2498.8457,79.008210,-1
3,300,1201.75,1.5,9.5,-2.0,2498.2780,79.012340,-1
4,400,1201.75,1.5,9.5,-2.0,2497.7166,79.016490,-1
...,...,...,...,...,...,...,...,...
9996,999600,1227.75,1.4,8.5,-3.0,3901.9530,83.025764,-1
9997,999700,1226.75,1.4,8.5,-3.0,3901.4612,83.019300,-1
9998,999800,1227.75,1.4,8.5,-3.0,3900.9720,83.012856,-1
9999,999900,1228.00,1.4,8.5,-3.0,3900.4849,83.006424,-1
10000,1000000,1228.00,1.4,8.5,-3.0,3900.0000,83.000000,-1